apiVersion: v1
kind: Secret
metadata:
  name: secret-back
type: Opaque
data:
  JWT_SECRET: <BASE64 ENCODED>
  GOOGLE_SECRET: <BASE64 ENCODED>
  GOOGLE_CLIENT_ID: <BASE64 ENCODED>
  WEATHER_API_KEY: <BASE64 ENCODED>
  STOCKS_API_KEY: <BASE64 ENCODED>
  SPOTIFY_CLIENT_ID: <BASE64 ENCODED>
  SPOTIFY_CLIENT_SECRET: <BASE64 ENCODED>